# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
backend/venv/
venv/
.env
uploads/
resumes/

# FFmpeg (local binary)
ffmpeg.exe
ffmpeg.zip
ffmpeg_temp/

# Node/Frontend
node_modules/
dist/
.DS_Store

serviceAccountKey.json